name: Deploy to AWS EC2

on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 20

      - name: Install dependencies
        run: npm install

      - name: Lint code
        run: npm run lint --if-present

      - name: Build project
        run: CI=false NODE_OPTIONS=--openssl-legacy-provider npm run build

      - name: Deploy to EC2
        env:
          SSH_PRIVATE_KEY: ${{ secrets.SSH_PRIVATE_KEY }}
          HOST: 3.131.160.25
          USER: ubuntu
        run: |
          echo "$SSH_PRIVATE_KEY" > key.pem
          chmod 600 key.pem
          # Create .ssh folder
          mkdir -p ~/.ssh
          # Add EC2 host to known_hosts
          ssh-keyscan -H $HOST >> ~/.ssh/known_hosts
          # Copy build files
          scp -i key.pem -r ./build $USER@$HOST:/var/www/myapp
          # Restart nginx
          ssh -i key.pem $USER@$HOST "sudo systemctl restart nginx"
